/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}






/*   STARTS HERE   */


* {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #E9558B, #F51D70);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header h1 {
    color:white;
    font-size: 45px;
}

.header button {
    position: absolute;
    right: 30px;
    top: 35px;
    background-color: #00C3FF;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 2px;
    font-size: 20px;
}

.trivia-container {
    position: absolute;
    left: 25%;
    background: #E7E7E7;
    width: 50%;
    /* height: 100%; */
}

.trivia-container input {
    width:95%;
    margin: 15px 2.5% 0 2.5%;
    height: 25px;
    padding: 0 10px;
    border: none;
    box-shadow: inset 0 0 10px #E7E7E7;
    border-radius: 2px;
    font-size: 16px;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.btn-container button{
    width: 20%;
    background: #00C3FF;
    height: 50px;
    margin: 0 0px;
    border: none;
    border-right: 1px solid #E7E7E7;
    font-size: 16px;
}

.btn-container button:nth-last-child(1){
    border-right: none;
}

/*  model   */

.cover {
    position:fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    font-family: Arial, Helvetica, sans-serif;
}

.cover div:nth-child(1) {
    width: 50%;
    position: absolute;
    height: 600px;
    left: 25%;
    top:50%;
    transform: translateY(-300px);
    background:#E7E7E7;
    border-radius: 3px;
    padding: 35px;
    box-shadow: 0 0 55px rgba(0,0,0,.3);
}

form .close {
    /* background: green; */
    text-align: right;
    color:#686868;
    font-size: 25px;
    position: absolute;
    right: 35px;
    top:20px;
}

form input {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: inset 0 0 7px #E7E7E7;
    font-size: 16px;
    padding: 0 10px;
}

form span {
    /* border:1px solid; */
}

.range input {
    width: 33.3%;
    margin: 25px 0;
}
.range h5 {
    width: 33.3%;
    /* background: white; */
    text-align: center;
}

#bottom {
    border: 4px solid green;
}

.green, .red, .grey-btn {
    position: absolute;
    bottom: 35px;
}

.green {
    height: 30px;
    background: #4FC78B;
    border: none;
    border-radius: 2px;
}

.red {
    height: 30px;
}

.grey-btn {
    height: 30px;
    bottom: 35px;
    left: 125px;
    border: none;
    border-radius:2px;
}
